pre.prettyprint {
  /* Specify class=linenums on a pre to get line numbering */
}
pre.prettyprint .com {
  color: #93a1a1;
}
pre.prettyprint .lit {
  color: #195f91;
}
pre.prettyprint .pun,
pre.prettyprint .opn,
pre.prettyprint .clo {
  color: #93a1a1;
}
pre.prettyprint .fun {
  color: #dc322f;
}
pre.prettyprint .str,
pre.prettyprint .atv {
  color: #D14;
}
pre.prettyprint .kwd,
pre.prettyprint .prettyprint .tag {
  color: #1e347b;
}
pre.prettyprint .typ,
pre.prettyprint .atn,
pre.prettyprint .dec,
pre.prettyprint .var {
  color: teal;
}
pre.prettyprint .pln {
  color: #48484c;
}
pre.prettyprint .prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre.prettyprint .prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
pre.prettyprint ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */
}
pre.prettyprint ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
