@media print {
  .container {
    width: 8.5in !important;
  }
  .uams-thinstrip,
  #dawgdrops,
  #quicklinks,
  #uamssearcharea,
  .uams-breadcrumbs,
  .uams-hero-image,
  .uams-hero-image:after,
  .uams-hero-image:before,
  .uams-news-image,
  .site-news.single .uams-site-title,
  .screen-reader-shortcut,
  #wpadminbar,
  #respond,
  .uams-footer h4,
  .uams-footer .footer-social,
  .uams-footer > a,
  .uams-footer {
    display: none !important;
  }
  .uams-footer {
    border-top: none;
  }
  .uams-footer ul.footer-links li a {
    color: #fff !important;
  }
  .info-box {
    margin-left: 0;
  }
  .widget {
    padding-left: 0;
  }
  ul.uams-sidebar-menu {
    margin-top: 0;
  }
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    position: static !important;
    overflow: visible !important;
  }
  .site-regents p,
  .site-regents a,
  .site-regents li,
  .site-regents td {
    font-size: 14px  !important;
    line-height: 18px !important;
  }
  .site-regents h1 {
    font-size: 23px  !important;
  }
  .site-regents h2 {
    font-size: 20px  !important;
  }
  .site-regents div.uams-site-title {
    font-size: 40px !important;
  }
  .site-regents h3,
  .site-regents h4 {
    font-size: 17px  !important;
  }
  .site-regents a:after {
    display: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
