#uwalert-alert-message {

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  a.more {
    color: #FDE048;
  }

  &.uwalert-red,
  &.red-alert-urgent {
    background-color: #C61029;
  }
  &.uwalert-orange,
  &.orange-alert {
    background-color: #ec7330;
  }
  &.uwalert-steel,
  &.steel-alert-fyis {
    background-color: #597286;
  }
}