// UW Drowpdowns

.assistive-text {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
	z-index: -1;
}

// Resets 

#dawgdrops {
	.box-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
	clear: both;
	li {
		list-style: none;
		display: inline-block;
	}
	ul {
		margin: 0;	
	}
}

.dawgdrops-nav {
	padding: 0 0 0 25px;
}

.dawgdrops-item {
	a {
		font-family: @font-family-headline;
		color: @purple;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
		font-size: 19px;
		padding: 20px 30px 17px 15px;
		display: block;
		position: relative;
		//Caret
		&.dropdown-toggle:before {
			content: "";
			position: absolute;			
			height: 10px;
			width: 10px;
			right: 8px;
			top: 30px;
			background: url('assets/svg/caret.svg') no-repeat;
			.background-size(10px);
		}
		// Forward slash menu-separator
		&:after {
			content: "";
			position: absolute;
			right: -10px;
			height: 24px;
			width: 12px;
			top: 25px;
			background: url('assets/svg/slash.svg') no-repeat;
		}
	}
}

.dawgdrops-menu {
	display: none;
}