// UW Drowpdowns

.assistive-text {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
	z-index: -1;
}

// Resets

#dawgdrops {
	.box-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
    background-color: white;
    position: relative;
    z-index: 1;
    display: block;
	li {
		list-style: none;
		display: inline-block;
	}
	ul {
		margin: 0;
	}
}

.dawgdrops-inner {
	position: relative;
}

.dawgdrops-nav {
	padding: 0 0 0 25px;
}

.dawgdrops-item {
	&.dawgdrops-item a {
		font-family: @font-super-headline;
	}
	a {

		color: @purple;
		-webkit-font-smoothing: antialiased;
		font-size: 22px;
		text-transform: uppercase;
		padding: 24px 10px 19px 15px;
		display: block;
		position: relative;
		//Caret
		&.dropdown-toggle {
			padding-right: 30px;
			&:before {
				content: "";
				position: absolute;
				height: 10px;
				width: 10px;
				right: 8px;
				top: 37px;
				background: url('assets/svg/caret.svg') no-repeat;
				.background-size(10px);
			}
		}
		// Forward slash menu-separator
		&:after {
			content: "";
			position: absolute;
			right: -14px;
			height: 24px;
			width: 12px;
			top: 32px;
			background: url('assets/svg/slash.svg') no-repeat;
		}
		&:focus {
			outline: thin solid red;
		}
	}
	&:hover .dawgdrops-menu {
		display: block;
	}
}

.dawgdrops-menu {
	top: 66px;
	left: 0;
	position: absolute;
	display:none;
	// visibility: hidden;
	border: 0;
	border-top: 4px solid @purple;
	padding: 0;
	margin: -1px 0 0;
	background: #fff;
	overflow: hidden;
	z-index:1;
	// -webkit-transition: opacity;
	// -moz-transition: opacity;
	// -o-transition: opacity;
	// transition: opacity;
	// -webkit-transition-duration: .3s;
	// -moz-transition-duration: .3s;
	// -o-transition-duration: .3s;
	// transition-duration: .3s;
	// background-color: #fff;
	// background: rgba(255,255,255,.98);
	// opacity: 0;
	// -webkit-box-shadow: 1px 1px 5px gray;
	// -moz-box-shadow: 1px 1px 5px gray;
	// box-shadow: 1px 1px 5px gray;

	li {
		float:left;
		clear:left;

		a {
			color: gray;
			font-size: 17px;
			border-bottom: thin solid #eee;
			margin: 20px 50px 0px 30px;
			text-align: left;
			padding: 0px;
			&:after {
					background:none;
			}

		}

		&:first-child {
			margin-top: 5px;
		}
		&:last-child {
			margin-bottom: 30px;
		}
	}

}
/* Small Devices, Tablets */

@media only screen and (max-width : 767px) {
	#dawgdrops {
 		display: none;
	}
}
