@font-face {
  font-family: 'Heron';
  src: ~"url('@{local-font-path}@{local-font-name-heavy}.woff') format('woff')";
  font-style: normal;
}


@font-face {
  font-family: 'Mission Gothic';
  src: ~"url('@{local-font-path}@{local-font-name-heavy}.eot')";
  src: ~"url('@{local-font-path}@{local-font-name-heavy}.eot?#iefix') format('embedded-opentype')",
       ~"url('@{local-font-path}@{local-font-name-heavy}.woff') format('woff')",
       ~"url('@{local-font-path}@{local-font-name-heavy}.ttf') format('truetype')",
       ~"url('@{local-font-path}@{local-font-name-heavy}.svg#@{local-font-name-heavy}') format('svg')";
  font-weight: 900;
  font-style: normal;
}