// UW Hero

.uw-sidebar {


	ul,li {
		display: block;
		list-style:none;
		padding:0;
		margin:0;
	}

	ul.first-level  {
		margin-left: 20px;
		padding: 20px;
		margin-top: -80px;
		// padding-left: 47px;
		background-color:white;
		li.pagenav {
				a {
					font-family: @font-family-headline;
					display: block;
					padding: 10px 0 10px 20px;
					&.homelink
					{
						display:none;
						color:@purple;
						font-size:25px;
					}
				}

				ul {

					font-size:20px;

					li.current_page_item, li.current_page_parent {
						background-color: @purple;
						a {
							color:white;
						}
					}

					li
					{
						a
						{
							color: @purple;
							border-bottom: thin solid #eee;
						}

						&.current_page_item ul.children, &.current_page_ancestor ul.children
						{
							display:block;
							font-size: 17px;
							background-color:white;

							li
							{
								padding: 5px;
								background-color:#eee;
								border-bottom: 1px solid #fff;	
								a
								{
									color:gray;
								}

							}

							li.current_page_item
							{
								background-color:white;
								a
								{
									color:gray;
									border-bottom: none;	
								}
							}


						}


					}

					li:last-child
					{
						a
						{
							// color:@purple;
							border-bottom: none;
						}
					}

				}

			}

		}

		ul.children {
			display:none;
		}

}
