.site-admissions {
    .tile {
        text-align: center;
        p,
        a.more {
            text-align: left;
        }
    }
    .one {
        img {
            width:375px !important;
            float:left;
            margin: 0 0 -20px  !important;
        }
        .admissions-single {
            display: block;
            margin:40px 0 0 65px !important;
            float: left; 
            width: 620px;
        }
    }
    hr {
        border-top: 1px solid #D6D6D6;
        margin: 20px 0;
    }

    .box-outer .box.three .tile div,
    .box-outer .box.two .tile div {
        background-color: #F3F2EC;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }


}


@media only screen and (max-width : 767px) {

    .site-admissions {

        .one {
            img {
                width:100% !important;
                float:none;
                margin: 0  !important;
            }
            .admissions-single {
                display: table-cell;
                margin:0 !important;
                float: none; 
                width: 100%;
            }
        }


    }

}

@media only screen and (min-width : 768px) and (max-width : 1199px) {

    .site-admissions {

        .one {
            img {
                width:100% !important;
                float:none;
                margin: 0  !important;
            }

        }


    }

}