// UW Thinstrip

.uw-thinstrip {
	height: 40px;
	width: 100%;
	background: grey;	
	
	// Container 

	.container {
		position: relative;
	}

	// Patch
	
	.uw-patch {
		display: block;
		text-indent: -9999px;
		width: 123px;
		height: 117px;
		background: url(assets/svg/w.svg) no-repeat center center @purple;
		background-size: 71px 48px;
		position: absolute;
		top: 0;
		left: -100px;
	}
	
	
	// Patch
	
	.uw-wordmark {
		display: block;
		text-indent: -9999px;
		width: 249px;
		height: 24px;
		background: url(assets/svg/wordmark.svg) no-repeat center center transparent;
		background-size: 238px;
		margin: 9px 0 0 32px;
	}

}


