// UW Thinstrip

.uw-thinstrip {
	height: 40px;
	width: 100%;
	background: grey;	
	
	// Container 

	.container {
		position: relative;
	}

	// Patch
	
	.uw-patch {
		display: block;
		text-indent: -9999px;
		width: 123px;
		height: 117px;
		background: url(assets/svg/w.svg) no-repeat center center @purple;
		background-size: 71px 48px;
		position: absolute;
		top: 0;
		left: -100px;
	}
	
	
	// Patch
	
	.uw-wordmark {
		display: block;
		text-indent: -9999px;
		width: 249px;
		height: 24px;
		background: url(assets/svg/wordmark.svg) no-repeat center center transparent;
		background-size: 238px;
		margin: 9px 0 0 32px;
		float: left;
	}

	// Audience

	ul.uw-audience {
		margin: 0;
		li {
			list-style: none;
			&:first-child a:after {
				display: none;
			}
			&:nth-child(3) {
				a {
					padding-right: 10px;
					&:after {
						display: none;
					}
				} 
			} 
			a {
				font-family: @font-family-headline;
				color: #fff;
				font-size: 15px;
				position: relative;
				float: right;
				padding: 9px 25px 6px 0;
				&:after {
					position: absolute;
					right: 6px;
					height: 24px;
					width: 12px;
					top: 10px;
					content: url('assets/svg/slash.svg');
				}
			}
			&.uw-search {
				a {
					text-indent: -99999px;
					background: url(assets/svg/search.svg) no-repeat center center transparent;
					position: relative;
					.background-size(22px);					
					padding-right: 78px;
				}

			}
			&.uw-quicklinks {
				a {
					background: url(assets/svg/plug.svg) no-repeat right center transparent;
					padding-left: 10px;
					margin-right: 10px;
					padding-right: 30px;
					.background-size(22px);
					position: relative;
					&:before {
						position: absolute;
						content: "";
						width: 60px;
						height: 40px;
						background-color: #333;
						.skew(-27deg,0);
						display: block;
						top: 0;
						left: -71px;
						border-left: 7px solid rgba(255,255,255,.5);
					}
				}
			}
		}
	}

}


