.widget_recent_entries,
.recent-posts-widget {
	ul {
		padding: 0;
	}
	li {
		clear: both;
		padding-top: 5px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	p {
		margin: 0;
	}
	img {
		float: left;
		margin: 5px 20px 15px 0px;
		width: 50px;
	}
	span {
		display: block;
		overflow: hidden;
	}
}