/* Template Previews */

.uw-admin-template a {
  position: relative;
}
.uw-admin-template a span {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -100px;
}
.uw-admin-template a:hover span {
  display: block;
}
.uw-admin-template-preview {
  margin-bottom: 10px;
  width: 100% !important;
}